{{define "_base"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Imaginative Go</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/gfm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
.imgo-header{background-color:#ffdd57;display:flex;align-items:center;margin-top:0.5em;font-weight:bold;font-size:1.3em;line-height:1.3em;justify-content:left;padding-left:1.5em;box-shadow:0 2px 2px #ddd;}
.imgo-container {margin-left:1.2em;margin-right:1.2em;}
.imgo-title {font-size:1.2em;line-height:1.28em;margin-bottom:0.6em !important;}
.imgo-sample-start {margin-top:1.7em;}
    </style>
  </head>
  <body>
    <a href="https://github.com/sonyarianto/imaginative-go"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-chocolate@2x.png" alt="Fork me on GitHub"></a>
    <div class="columns">
      <div class="column imgo-header">Imaginative Go</div>
    </div>
    <div class="imgo-container">
      <div class="rows">
        <div class="row">
          <div class="content">
            <h2>What the hell is this?</h2>
            <p><strong>Imaginative Go</strong> is a website that created with Go lang. It contains many go lang working samples that for web and non-web application. It demonstrate what Go lang can achieve. You can contribute!</p>
            <blockquote>I believe that the best way to learn new programming language is by directly implement the knowledge into a project.<br><i><small>-- Sony Arianto Kurniawan, Imaginative Go Project Maintainer</small></i></blockquote>
            <p>On this imaginative project, we don't use any framework and forgive us if the code still not efficient or optimal, since this project will just give you an idea how to achieve something in Go language.</p>
            <p>So let's start with code samples.</p>
            <h2>Samples</h2>
            <blockquote><strong>NOTES:</strong><br>
              All sample codes shown here are located on <code>src/examples</code> directory.<br>
              You can also see web code at file <code>imaginative-go.go</code> on <code>src</code> directory.<br>
              You can fork this website on your local and build with Docker.
            </blockquote>
            <div class="rows imgo-sample-start">
              <div class="row">
                <div class="content">
                  <p class="imgo-title"><a href="see-code/hello-world"><strong>The standard Hello World ritual</strong></a></p>
                  <p>The description of the code sample, should be clear, concise and user can decide want to click or not.</p>
                  <div class="buttons">
                    <a class="button is-small is-link" href="hello-world">See Result</a>
                    <a class="button is-small is-link" href="see-code/hello-world">See Code</a>
                  </div>
                  <div class="tags">
                    <span class="tag">beginner</span>
                    <span class="tag">hello world</span>
                  </div>
                </div>
              </div>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Copyright &copy; 2018 - All rights reserved.<br><strong>Imaginative Go</strong> by <a target="_blank" href="https://sony-ak.com">Sony Arianto Kurniawan</a> and contributors. The website and source code is <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
        </p>
      </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
  </body>
</html>
{{end}}
        