<!DOCTYPE html>
<html>
  <head>
    <title>[Title here] - Imaginative Go</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/gfm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
.imgo-header{background-color:#ffdd57;display:flex;align-items:center;margin-top:0.4em;font-weight:bold;font-size:1.3em;line-height:1.3em;justify-content:left;padding-left:1.5em;box-shadow:0 2px 2px #ddd;}
.imgo-container {margin-left:1.2em;margin-right:1.2em;}
.imgo-title {font-size:1.2em;line-height:1.2em;margin-bottom:0.6em !important;}
.imgo-sample-start {margin-top:1.7em;}
    </style>
  </head>
  <body>
    <a href="https://github.com/sonyarianto/imaginative-go"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-chocolate@2x.png" alt="Fork me on GitHub"></a>
    <div class="columns">
      <div class="column imgo-header">Imaginative Go</div>
    </div>
    <div class="imgo-container">
      <div class="rows">
        <div class="row">
          <div class="content">
            {{toHTML .}}
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Copyright &copy; 2018 - All rights reserved.<br><strong>Imaginative Go</strong> by <a target="_blank" href="https://sony-ak.com">Sony Arianto Kurniawan</a> and contributors. The website and source code is <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
        </p>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <!-- // <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  </body>
</html>
        