<section>
	<header class="major">
		<h2>Samples</h2>
	</header>
	<div class="row">
		<p><strong>NOTES</strong>: All example source codes are available on folder <code>src/examples</code></p>
	</div>
	<div class="posts">
		<article>
			<h3><a href="/see-code?fn=helloWorld">The standard hello world ritual</a></h3>
			<p>This is a must ritual on any programming language.</p>
			<ul class="actions">
				<li><a href="/hello-world" class="button">Result</a></li><li><a href="/see-code?fn=helloWorld" class="button">Code</a></li>
			</ul>
		</article>
		<article>
			<h3><a href="/see-code?fn=helloWorld2">Another hello world</a></h3>
			<p>This time display string with content type text/html. You will see how to set content type.</p>
			<ul class="actions">
				<li><a href="/hello-world-2" class="button">Result</a></li><li><a href="/see-code?fn=helloWorld2" class="button">Code</a></li>
			</ul>
		</article>
		<article>
			<h3><a href="/see-code?fn=helloWorld2">Another hello world (again)</a></h3>
			<p>Please don't boring with this. I am sure you will be inspired.</p>
			<ul class="actions">
				<li><a href="/see-code?fn=helloWorld3" class="button">Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Load a HTML template</h3>
			<p>This time display HTML as Content Type. You will see how to set content type.</p>
			<ul class="actions">
				<li><a href="/hello-world-html" class="button">Result</a></li><li><a href="/see-code?fn=helloWorldHtml" class="button">Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Display imaginative-go.go source code</h3>
			<p>It will show you the full source code of imaginative-go.go to observe.</p>
			<ul class="actions">
				<li><a href="/hello-world" class="button">See Result</a></li><li><a href="/see-code?fn=helloWorld" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Query multiple rows from MySQL table</h3>
			<p>This sample will show query to MySQL table and display it on template using loop.</p>
			<ul class="actions">
				<li><a href="/mysql-select-multiple-rows" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Load and display text file source</h3>
			<p>This sample will load file imaginative-go.go (yes this source code) and display it to a template.</p>
			<ul class="actions">
				<li><a href="#" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Display current IP address</h3>
			<p>This sample will show how to display current used IP address.</p>
			<ul class="actions">
				<li><a href="#" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Handle request POST</h3>
			<p>This sample will show basic operation to handle POST request.</p>
			<ul class="actions">
				<li><a href="#" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>Handle request GET</h3>
			<p>This sample will show basic operation to handle POST request.</p>
			<ul class="actions">
				<li><a href="#" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
		<article>
			<h3>How to do ORM in Go with GORM</h3>
			<p>This sample will show basic operation to handle POST request.</p>
			<ul class="actions">
				<li><a href="#" class="button">See Result</a></li><li><a href="/see-code?start=&end=" class="button">See Code</a></li>
			</ul>
		</article>
	</div>
</section>