<div id="sidebar" class="inactive">
	<div class="inner">

		<!-- Search -->
		<section id="search" class="alt">
			<form method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Search" />
			</form>
		</section>

		<!-- Menu -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a href="/">Home</a></li>
				<!-- <li><a href="/generic-page">Generic Page</a></li>
				<li><a href="/elements-page">Elements Page</a></li>
				<li>
					<span class="opener">Contains Submenu</span>
					<ul>
						<li><a href="#">Sub Item 1</a></li>
						<li><a href="#">Sub Item 2</a></li>
						<li><a href="#">Sub Item 3</a></li>
						<li><a href="#">Sub Item 4</a></li>
					</ul>
				</li> -->
			</ul>
		</nav>

	</div>
</div>