<section>
	<header class="main">
		<h1>Create routing with default net/http multiplexer a.k.a mux</h1>
	</header>

	<!-- Content -->
	<h2 id="content">Scenario</h2>
	<p>We will create simple mini website with three paths / /service1 and /service2</p>

	{{if not .sourceCode}}
	<p>Source code on file <code>imaginative-go.go</code></p>
	<div class="row">
		{{toHTML .sourceCode}}
	</div>
	{{end}}

	<p>And below is stand alone example, you can try yourself locally.</p>

	<p>File {{.id}}.go</p>
	<div class="row">
		{{toHTML .standAloneSourceCode}}
	</div>

	<p>Run above code by type <code>go run {{.id}}.go</code> from your console and then go to your browser at <code>http://localhost:3000/hello-world</code></p>
</section>