<!DOCTYPE html>
<html>
  {{- block "_head" .}}
  <head>
    <title>Imaginative Go</title>
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/assets/js/all.min.js"></script>
    <style>
.imgo-header{background-color:#ffdd57;justify-content:left;padding-left:1.2em;padding-bottom:0.5em;padding-top:0.5em;box-shadow:0 2px 2px #ddd;padding-right:1.2em;}
.imgo-container {margin-left:1.2em;margin-right:1.2em;}
.imgo-title {font-size:1.2em;line-height:1.28em;margin-bottom:0.6em !important;}
.imgo-sample-start {margin-top:1.7em;}
.imgo-footer {margin-top:20px;}
.imgo-nav-a {color:#363636;}
.imgo-p-header {font-weight:bold;font-size:1.5rem;}
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=201812071106">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=201812071106">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=201812071106">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=201812071106" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffdd57">
    <meta name="theme-color" content="#ffffff">
  </head>
  {{- end}}
  <body>
    {{- block "_after_body" .}}
    <a href="https://github.com/sonyarianto/imaginative-go"><img style="position:absolute;top:0;right:0;border:0;width:149px;height:149px;" src="/assets/images/right-chocolate@2x.png" alt="Fork me on GitHub"></a>
    <nav class="level">
      <div class="level-item has-text-centered imgo-header">
        <div>
          <p class="imgo-p-header"><a href="/" class="imgo-nav-a">Imaginative Go</a></p>
        </div>
      </div>
    </nav>
    {{- end}}
    {{- block "_content" .}}{{- end}}
    {{- block "_footer" .}}
    <footer class="footer imgo-footer">
      <div class="content has-text-centered">
        <p>
          Copyright &copy; 2018 - All rights reserved.<br><strong>Imaginative Go</strong> by <a target="_blank" href="https://sony-ak.com">Sony Arianto Kurniawan</a> and contributors. The website and source code is <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
        </p>
      </div>
    </footer>
    {{- end}}
    {{- block "_js" .}}
    <!--JavaScript at end of body for optimized loading-->
    {{- end}}
  </body>
</html>
