<section id="banner">
	<div class="content">
		<header>
			<h1>Hi, I’m Imaginative Go</h1>
			<p>A free code sample in the form of Go web application</p>
		</header>
		<p>We believe that the best way to learn new programming language is by directly implement the knowledge into a project. This imaginative project will show doing web application in Go language as well as other samples that not related to web. We don't use any framework and forgive us if the code still not efficient or optimal, since this project will just give you an idea how to achieve something in Go language.</p>
		<!-- <ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul> -->
	</div>
	<span class="image object">
		<img src="/assets/images/golang.jpg" alt="" />
	</span>
</section>