<section>
	<header class="major">
		<h2>Why Imaginative Go?</h2>
	</header>
	<div class="features">
		<article>
			<!-- <span class="icon fa-lightbulb-o"></span> -->
			<div class="content">
				<h3>Ideas about achieve something with Go lang</h3>
				<p>This project will give you some ideas about how to achieve something with Go language by looking into the code inside this imaginative web application project.</p>
			</div>
		</article>
		<article>
			<!-- <span class="icon fa-code"></span> -->
			<div class="content">
				<h3>Plenty of working code samples</h3>
				<p>Actually now still small amount of sample included hahaha, but don't worry we will add it over time. Just sit back and relax, drink your coffee.</p>
			</div>
		</article>
		<article>
			<!-- <span class="icon fa-bolt"></span> -->
			<div class="content">
				<h3>Easy to run (only with Docker)</h3>
				<p>We design it to be simple. You only need Docker to run this application. Even you don't need Go installed on your system. But you can also run with your local setup if you want.</p>
			</div>
		</article>
		<article>
			<!-- <span class="icon fa-users"></span> -->
			<div class="content">
				<h3>You can contribute</h3>
				<p>Any contribution are appreciated. Even you can help us with your request, code or ideas. Just do pull request on our <a target="_blank" href="https://github.com/sonyarianto/imaginative-go">GitHub</a> repository.</p>
			</div>
		</article>
	</div>
</section>