<section>
	<header class="main">
		<h1>Another hello world</h1>
	</header>

	<!-- Content -->
	<h2 id="content">Scenario</h2>
	<p>It will show how to do hello world in web. In this sample we set content type to html so it will aware of HTML tag.</p>

	<p>Source code on file <code>imaginative-go.go</code></p>
	<div class="row">
		{{toHTML .sourceCode}}
	</div>

	<p>And below is stand alone example, you can try yourself locally.</p>

	<p>File {{.id}}.go</p>
	<div class="row">
		{{toHTML .standAloneSourceCode}}
	</div>

	<p>Run above code and go to your browser at <code>http://localhost:3000/hello-world</code></p>
</section>